.home{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* download */

.boxDownload{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
    top: 11rem;
}

.boxTitles{
    height: 100%;
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
}

.boxSubTitles{
    height: 100%;
    padding: .5rem;
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-top: -1rem;
}

.titleDownload{
    font-family: "ppF" ;
    font-size: 7rem;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    transform: matrix(1.15,0,0,1.25,0,0);
    text-align: center;
    z-index: 1000;
    overflow: hidden;
}

.boxDownload strong{
    color: #29d666;
    filter: brightness(120%) drop-shadow(0 0 1.2px #29d666);
}

.boxDownload span{
    color: #29d666;
    font-weight: bold;    
    filter: brightness(120%) drop-shadow(0 0 1.2px #29d666);
}

.boxDownload p{
    font-family: "ppF" ;
    font-size: 2.7rem;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    z-index: 1000;
}



/* input download*/

.boxForm{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4rem;
    position: relative;
    gap: 1rem;
}

.box_contact_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    position: relative;
    left: -5rem;
}

.box_contact_main input{
    width: 85rem;
    height: 6rem;
    padding: 2rem;
    border-radius: 8px;
    border: 2px ridge #29d666;
    font-size:2.5rem;
    letter-spacing: 1px;
    font-family: "ppF" ;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    transition: all .8s ease;
    background-color: rgb(12, 12, 12);
    color: white;
    padding-right: 12rem;
}

.box_contact_main input:hover, #typeSong:hover{
    box-shadow:  0 0 20px #29d666;
    transition: all .8s ease;
}


.box_contact_main input::placeholder , .pp_main::placeholder{
    font-size:3rem;
    letter-spacing:5px;
    font-family: "ppF" ;
    outline: none;
    position: absolute;
    color: #ffffff3b;
    font-weight: bold;
    top: 1.2rem;
}


.sendContact_main{
    opacity: 1;
    color: white;
    text-transform: uppercase;
    border: 2px solid #29d666;
    border-radius: 8px;
    font-size: 2.7rem;
    letter-spacing: 1.5px ;
    font-family: "ppF" ;
    padding: 1rem 2rem;
    position: absolute;
    right: -10.5rem;
    background-color: black;
    cursor: pointer;
    text-shadow:  0 0 .3rem rgba(178, 255, 163, 0.699);
    box-shadow:  0 0 .3rem rgba(178, 255, 163, 0.699);
    transition: all .3s ease;
}

.sendContact_main:hover{
    scale: 1.01;
    text-shadow:  0 0 1rem rgba(178, 255, 163, 0.699);
    box-shadow:  0 0 .7rem rgba(178, 255, 163, 0.699);
    transition: all .3s ease;
}



/* slect tipe song */

#typeSong{
    width:10rem;
    height: 6rem;
    border-radius: 8px;
    border: 2px ridge #29d666;
    font-size:2.5rem;
    letter-spacing: 1px;
    font-family: "ppF" ;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    transition: all .8s ease;
    background-color: rgb(12, 12, 12);
    color: white;
    position: absolute;
    right: 0;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: .5rem;
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.option{
    padding: 2rem 0 ;
    color: #06ff97;
}




@media screen and (max-width: 1440px) {
    .boxDownload h2 {
        font-size: 6rem;
    }

    .boxDownload p {
        font-size: 2.5rem;
    }

    .box_contact_main input {
        width: 70rem;
    }
}


@media screen and (max-width: 1070px) {
    .boxDownload h2 {
        font-size: 4.8rem;
    }

    .boxDownload p {
        font-size: 2.2rem;
    }

    .box_contact_main input {
        width: 60rem;
    }
}


@media screen and (max-width: 770px) {
    .boxDownload h2 {
        font-size: 4rem;
    }

    .boxDownload p {
        font-size: 1.9rem;
    }

    .box_contact_main input {
        width: 50rem;
        height: 5rem;
    }

    #typeSong {
        height: 5rem;
    }

    .sendContact_main {
        font-size: 2rem;
        padding: .5rem 2rem;
        right: -9.5rem;
        transform: matrix(1.15,0,0,1.25,0,0);
    }

    .box_contact_main input::placeholder , .pp_main::placeholder{
        top: .8rem;
        font-size: 2.5rem;
    }
}


@media screen and (max-width: 650px) {
    .boxDownload h2 {
        font-size: 3.4rem;
    }

    .boxDownload {
        gap: 1rem;
    }

    .boxDownload p {
        font-size: 1.7rem;
    }

    .box_contact_main input {
        width: 44rem;
        height: 5rem;
    }

    #typeSong {
        height: 5rem;
    }

    .sendContact_main {
        font-size: 2rem;
        padding: .5rem 2rem;
        right: -9.5rem;
        transform: matrix(1.15,0,0,1.25,0,0);
    }

    .box_contact_main input::placeholder , .pp_main::placeholder{
        top: .8rem;
        font-size: 2.5rem;
    }
}



@media screen and (max-width: 560px) {
    .boxDownload h2 {
        font-size: 3.5rem;
        padding: 0 8rem;
        line-height: 3.9rem;
    }

    .boxDownload {
        gap: 3rem;
    }

    .boxDownload p {
        font-size: 1.9rem;
        padding: 0 4rem;

    }

    .box_contact_main input {
        width: 35rem;
        height: 5rem;
        padding-right: 8rem;
    }

    #typeSong {
        height: 5rem;
        width: 8rem;  
     }

    .sendContact_main {
        font-size: 2rem;
        padding: .5rem 2rem;
        right: -9.5rem;
        width: 8rem;  

        transform: matrix(1.15,0,0,1.25,0,0);
    }

    .box_contact_main input::placeholder , .pp_main::placeholder{
        top: .8rem;
        font-size: 2.5rem;
    }
}

@media screen and (max-width:454px) {
    .boxDownload h2 {
        font-size: 3.4rem;
        padding: 0 5rem;
        line-height: 3.5rem;
    }

    .boxDownload {
        gap: 3rem;
    }

    .boxDownload p {
        font-size: 1.9rem;
        padding: 0 2rem;

    }

    .box_contact_main {
        left: -4.6rem;
        gap: 1;
    }

    .box_contact_main input {
        width: 29rem;
        height: 5rem;
        font-size: 1.6rem;
        padding-right: 7.5rem;
    }

    #typeSong {
        height: 5rem;
        width: 7rem;  
     }

    .sendContact_main {
        font-size: 1.8rem;
        padding: .6rem 1rem;
        right: -8.5rem;
        width: 7rem;  
    }

    .box_contact_main input::placeholder , .pp_main::placeholder{
        top: .8rem;
        font-size: 2.5rem;
    }
}


@media screen and (max-width:390px) {
    .boxDownload h2 {
        font-size: 3rem;
        padding: 0 5rem;
        line-height: 3.5rem;
    }

    .boxDownload {
        gap: 3rem;
    }

    .boxDownload p {
        font-size: 1.7rem;
        padding: 0 2rem;

    }

    .box_contact_main {
        left: -4rem;
    }

    .box_contact_main input {
        width: 22rem;
        height: 5rem;
        font-size: 1.6rem;
        padding-right: 6.5rem;
    }

    #typeSong {
        height: 5rem;
        width: 6rem;
        font-size: 1.8rem;
        padding-left: .5;  
     }

    .sendContact_main {
        font-size: 1.8rem;
        padding: .6rem 1rem;
        right: -7.5rem;
        width: 6rem;
    }

    .box_contact_main input::placeholder , .pp_main::placeholder{
        top: .8rem;
        font-size: 2.5rem;
    }
}