
/* player */

#content{
    display: flex;
    justify-content: center;
    align-items: center;
}


.canvas_banner{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

/* file box */

.file {
  position: absolute;
  display: inline-block;
  bottom: 6rem;
  left: 6rem;
  cursor: pointer;
}

.file::before {
  border: 2px solid  #29d666;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  content: 'Seleccionar Archivo'; /* testo por defecto */
  position: absolute;
  padding: 1rem;
  font-family: "ppF" ;
  font-size: 2.7rem;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  z-index: 1000;
  padding-top: 1.2rem;
}

.file input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}


#audio{
  position: absolute;
  bottom: .5rem;
  width: 98%;
}

audio::-webkit-media-controls-panel{
    background-color: #1b1b1b;
}




/* reproductor */


.reproductor{
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.boxControls{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  height: 100%;
  border-top: 1px solid   #29d666;
  border-radius: 25px;
}

.control{
  position: relative;
  width: 4rem;
  cursor: pointer;
  fill: white;
  transition: all .1s ease;
}

.control:hover, .navMusic:hover{
  fill: #29d666;
  transition: all .1s ease;
}

.navMusic{
  position: absolute;
  right: 5rem;
  fill: white;
  width: 4rem;
  cursor: pointer;
  top: 50%;
  transform: translate(0 , -50%);
}

.bi-play-fill{
  width: 11rem;
  text-align: center;
  height: 6rem;
}

.volumenPlayer{
  position: absolute;
  right: 35rem;
  
}



input[type=range] {
  margin: auto;
  outline: none;
  padding: 0;
  height: 10px;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-color:#29d666;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}


input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}


input[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  background: #fff;
  filter: drop-shadow( 0 0 5px #29d666);
  border-radius: 20px;
  -webkit-appearance: none;
}

